/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* style pour le body */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* style pour le header */
header {
  background-color: #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

header h1 {
  font-size: 2rem;
  font-weight: 700;
  padding: 20px;
  color: #2c3e50;
}

header img {
  width: 10%;
  height: auto;
  margin-right: 20px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 20px;
  color: #2c3e50;
}

nav a {
  color: #333;
  font-weight: 500;
  padding: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}

/* style pour le main */
main {
  margin-top: 100px;
}

#hero {
  background-image: url(images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #2c3e50;
}

#hero h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

#hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn-hero {
  background-color: #333;
  color: #fff;
  display: block;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 15px 30px;
  text-decoration: none;
  transition: all 0.3s ease;
  text-align: center;
}

.btn-hero:hover {
  background-color: #fff;
  color: #333;
}

#products {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

#products ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

#products li {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 20px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#products li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#products li button {
  background-color: #2c3e50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 10px auto 0;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}

#products li button:hover {
  transform: scale(1.2);
}

#products img {
  height: 200px;
      width: 200px;
      object-fit: cover;
      margin-top: 10px;
}

#products h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 15px;
  text-align: center;
}

#products .prix {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 15px;
  text-align: center;
}

footer {
  background-color: #eee;
  color: #333;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

/* Style de base pour la liste déroulante */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style de survol pour l'onglet "Produits" */
.dropbtn:hover {
  background-color: #333;
}

/* Style de la liste déroulante */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

/* Style des liens de la liste déroulante */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  margin-left: 0px;
}

/* Style de survol pour les liens de la liste déroulante */
.dropdown-content a:hover {
  background-color: #333;
}

/* Affichage de la liste déroulante lorsque la souris passe sur l'onglet "Produits" */
.dropdown:hover .dropdown-content {
  display: block;
}

.modal {
  display: none; /* cachée par défaut */
  position: fixed; /* positionnement fixe */
  z-index: 1; /* position au-dessus du reste du contenu */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* fond sombre */
}

/* Style pour le contenu de la modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* centré verticalement et horizontalement */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.product-details {
  display: flex;
  align-items: center;
  flex-basis: 50%;
}
.product-details img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.price-and-quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  text-align: center;
}

.product-description {
  flex-basis: 40%;
  margin-left: 400px;
}

#myModal button {
  background-color: #2c3e50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 10px auto 0;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}

#myModal span.close {
  color: red;
}

@media only screen and (max-width: 768px) {
  .modal-content {
    flex-direction: column;
  }
  .product-details,
  .product-description {
    flex-basis: 100%;
    margin: 0;
  }
  .product-details img {
    margin: 0;
    margin-bottom: 20px;
  }
}

/* Style pour le bouton de fermeture */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* Style pour le survol du bouton de fermeture */
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}